version 9.0.2

source https://api.nuget.org/v3/index.json
frameworks: netstandard2.0, netstandard2.1, net472

nuget FSharp.Core 6.0.7 content: none
nuget NodaTime
nuget Optional
nuget System.Reflection.Emit.ILGeneration
nuget System.Reflection.Emit.Lightweight

group Tests
    source https://api.nuget.org/v3/index.json
    frameworks: net472, net9.0
    storage: none

    nuget FSharp.Core 6.0.7 content: none
    nuget FsUnit.Xunit
    nuget Microsoft.Extensions.Configuration.Json
    nuget Microsoft.NET.Test.Sdk
    nuget NodaTime
    nuget Optional
    nuget System.Reflection.Emit.ILGeneration
    nuget System.Reflection.Emit.Lightweight
    nuget xunit.v3
    nuget xunit.runner.visualstudio
